.redButton {
    background-color: #ff0000;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.redButton:hover {
    background-color: #cf0000;
    cursor: pointer;
}

.greenButton {
    background-color: #00cf00;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.greenButton:hover {
    background-color: #00aa00;
    cursor: pointer;
}

.cyanButton {
    background-color: rgb(58, 171, 210);
    color: #fff;
    width: fit-content;
    box-sizing: border-box;
    position: relative;
    padding: 10px 32px 10px 32px;
    border-radius: 10px;
    text-align: center;
    border: none;
}